.password-text {
    font-size:10px;
    text-align: left;
}

.text-success { 
    color: rgba(35, 137, 52, 0.8);
}

.text-danger { 
    color: rgba(219, 21, 21, 0.8);
}

.text-muted { 
    color: grey;
    margin-bottom: -0.5px;
}

.text-dark { 
    color: rgb(74, 86, 74);
    text-align: center;
    margin-bottom: -5px;
}